

<ion-view view-title="">
  <ion-content class="padding">
  <div class="list">
    <div class="item item-button-right">
      <center><h1>My Basket</h1></center>
    <button class="button button-light ion-home"></button>
   </div> 
   </div>
   <div class="list">

    <a class="item item-avatar " href="#">
      
     <img class="basket"src="img/CARROTS.jpg">
      <div class="row">
      <div class="col-name"><strong>Carrots</strong></div>
      </div>
      <div class="row">
      <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/ginger.jpg">
      <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
     <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
         
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/images.jpg">
       <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
      <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>  
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/index.jpg">
      <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
     <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/index1.jpg">
      <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
      <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
          
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/Kamatis_.jpg">
      <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
     <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/potatoes.jpg">
      <div class="row">
      <div class="col-name"><strong>Ginger</strong></div>
      </div>
      <div class="row">
      <div class="col-list">&#8369;10</div>
      <div class="col-list">X 3Kls.</div>
      <div class="col-list"><strong>= 30Php</strong></div>
       </div>
         
    </a>  
</div>
<div class="list">
    <div class="item ">
    <div class="row">
      <div class="col "><h2>Total:</h2></div>
    <div class="col "><h2>&#8369;300.00</h2></div>
    </div>
   </div> 
   </div>
  </ion-content>
</ion-view>


