

<ion-view view-title="">
  <ion-content class="padding">
  <div class="list">
    <div class="item item-button-right">
      <center><h1>My Basket</h1></center>
    <button class="button button-light ion-home"></button>
   </div> 
   </div>
   <div class="list">

    <a class="item item-avatar " href="#">
      
     <img class="basket"src="img/CARROTS.jpg">
      <div class="row">
      <div class="col"><h2>Kamatis</h2></div>
      <div class-"col>"10Php/Kls</div>
      <div class="col">X 3</div>
      <div class="col">= 30Php</div>
       </div>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/ginger.jpg">
      <h2>Kamatis</h2>
      <p>10Php/Kls</p>
         
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/images.jpg">
      <h2>Carrot</h2>
      <p>10Php/Kls</p>
         
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/index.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/index1.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
          
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/Kamatis_.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar " href="#">
      <img src="img/potatoes.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         
    </a>  
</div>
<div class="list">
    <div class="item ">
    <div class="row">
      <div class="col "><h2>Total:</h2></div>
    <div class="col "><h2>300.00 Php</h2></div>
    </div>
   </div> 
   </div>
  </ion-content>
</ion-view>

