

<ion-view view-title="">
  <ion-content class="padding">
  <div class="list">
    <div class="item item-button-right">
      <center><h1>Price List</h1></center>
    <button class="button button-light ion-refresh">
      
    </button>
    </div>
  </div>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/CARROTS.jpg">
      <h2>Kamatis</h2>10Php/Kls
       <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/ginger.jpg">
      <h2>Kamatis</h2>
      <p>10Php/Kls</p>
         <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/images.jpg">
      <h2>Carrot</h2>
      <p>10Php/Kls</p>
         <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/index.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/index1.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
          <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/Kamatis_.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>
    
</div>
<div class="list">

    <a class="item item-avatar item-button-right" href="#">
      <img src="img/potatoes.jpg">
      <h2>Sayute</h2>
      <p>10Php/Kls</p>
         <button class="button button-balanced btn">
      <img src="img/logomini2.png" class="">
    </button>
    </a>  
</div>

  </ion-content>
</ion-view>
