<ion-view view-title="">
  <ion-content class="padding">
   <div class="list">
    <div class="item">
      <center><h1>Report Vendor</h1></center>
   </div>
  
   </div>
<div class="list">
<label class="item item-step">
 <div class="row">
  <div class="col1 " >Step 1</div>
  <div class="col1 ">Step 2</div>
  <div class="col1 activated">Step3</div>
</div>
</label>
<label class="item">
    Terms and Conditions
  </label>
  <div class="list list-inset">

    <div class="item">
      Captcha
    </div>

    

</div>
  <div class="item"> 
  <a class="button button-balanced" href="#/app/report/3">
Home
</a>
</div>
</div>
</ion-content>
</ion-view>