<ion-view view-title="">
  <ion-content class="padding">
   <div class="list">
    <div class="item">
      <center><h1>Report Vendor</h1></center>
   </div>
  
   </div>
<div class="list">
<label class="item item-step">
 <div class="row">
  <div class="col1 activated" >Step 1</div>
  <div class="col1">Step 2</div>
  <div class="col1">Step3</div>
</div>
</label>
<label class="item">
    Personal Information
  </label>
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Contact Number">
  </label> 
  <div class="item"> 
  <a class="button button-balanced" href="#/app/report/1">
  Next
</a>
</div>
</div>
</ion-content>
</ion-view>